Repository Jameshuff91/budget-planner: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Services, Components, Utilities, Hooks

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        # Fail the build if coverage drops below threshold
        target: 70%
        threshold: 2%
        base: auto
        branches:
          - master
          - main
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        
    patch:
      default:
        # Require at least 70% coverage on new code
        target: 70%
        threshold: 2%
        base: auto
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  
  # Show coverage for different test types
  show_carryforward_flags: true
  show_critical_paths: true

parsers:
  javascript:
    enable_partials: yes

ignore:
  # Ignore test files
  - "**/__tests__/**/*"
  - "**/__mocks__/**/*"
  - "**/test/**/*"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  
  # Ignore configuration files
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/next.config.mjs"
  - "**/vitest.config.ts"
  - "**/playwright.config.ts"
  
  # Ignore build artifacts
  - ".next/**/*"
  - "out/**/*"
  - "coverage/**/*"
  - "playwright-report/**/*"
  
  # Ignore documentation and scripts
  - "docs/**/*"
  - "scripts/**/*"
  - "*.md"
  
  # Ignore generated files
  - "**/generated/**/*"
  - "public/sw.js"
  - "public/workbox-*.js"

flags:
  unittests:
    paths:
      - src/
      - components/
      - hooks/
    carryforward: true
    
  e2e:
    paths:
      - app/
      - components/
    carryforward: false

# Coverage thresholds for specific directories
component_management:
  individual_components:
    - component_id: module_services
      name: Services
      paths:
        - src/services/**
      target: 80%
      
    - component_id: module_components
      name: Components
      paths:
        - components/**
      target: 75%
      
    - component_id: module_utils
      name: Utilities
      paths:
        - src/utils/**
      target: 85%
      
    - component_id: module_hooks
      name: Hooks
      paths:
        - hooks/**
        - src/hooks/**
      target: 70%

fix: resolve test failures and improve type safety
  .playwright-mcp/dashboard-login.png
  RENTAL_PROPERTY_EXIT_PLAN.md
  __tests__/components/SpendingByCategory.test.tsx
  __tests__/utils/smartCategorization.test.ts
  components/BackupRestore.tsx
  components/CategoryTrendAnalysis.tsx
  components/MonthSelector.tsx
  components/WebVitalsMonitor.tsx
  components/__tests__/IncomeExpensesForecast.test.tsx
  public/sw-custom.js
  public/swe-worker-5c72df51bb1f6ee0.js
  public/workbox-c18c662b.js
  src/utils/pdfGenerator.ts
  src/utils/userErrors.ts
Due: unittests, e2e, Components, Utilities

fix: resolve CSV upload and component type errors
  components/CSVUpload.tsx
  components/PerformanceOptimizedLayout.tsx
  components/SpendingOverview.tsx
Due: unittests, e2e, Components

chore: add playwright-mcp to gitignore
  .gitignore
Due: none

feat: add time tracking for Claude Code sessions
  .claude/README-time-tracking.md
  .claude/hooks/commit-timestamp.sh
  .claude/time-log.txt
Due: none

fix: resolve TypeScript errors in core components
  components/PerformanceOptimizedLayout.tsx
  src/context/DatabaseContext.tsx
  src/services/db.ts
Due: unittests, e2e, Services, Components

chore: update gitignore to exclude test artifacts
  .gitignore
Due: none

wip: add OpenCV type definitions and improve type safety
  src/services/pdfService.ts
  src/types/opencv.d.ts
Due: unittests, Services

feat: major TypeScript error reduction (130→94 errors)
  src/services/pdfService.ts
  src/types/opencv.d.ts
Due: unittests, Services

fix: complete pdfService.ts TypeScript fixes (130→80 errors)
  src/services/pdfService.ts
Due: unittests, Services

fix: resolve 96 TypeScript errors across PDF, encryption, and test files
  src/services/pdfService.test.ts
  src/services/pdfServiceOptimized.ts
  src/utils/dataEncryption.ts
  src/utils/dataMigration.ts
Due: unittests, Services, Utilities

fix: resolve additional TypeScript errors in services and utils
  src/services/logger.ts
  src/services/reportService.ts
  src/setupTests.ts
  src/utils/offline-queue.ts
Due: unittests, Services, Utilities

fix: resolve ALL remaining TypeScript errors - 100% complete!
  components/PerformanceOptimizedLayout.tsx
  components/ReportGenerator.tsx
  components/ReportTemplates.tsx
  components/SpendingOverview.tsx
  src/minimalSetupTests.ts
  src/services/backupService.ts
  src/services/pdfService.ts
  src/services/syncService.ts
  src/utils/chartOptimization.ts
  src/utils/pdfGenerator.ts
Due: unittests, e2e, Services, Components, Utilities

fix: add random suffix to test emails to prevent duplicate registration
  e2e/helpers/auth.ts
Due: none

chore: reorganize codebase structure for better clarity
  components/SpendingVelocity 2.tsx
  debug-loading.js
  docs/CHART_OPTIMIZATION_SUMMARY.md
  docs/DATA_INGESTION_PIPELINE_SUMMARY.md
  docs/DATA_RETENTION.md
  docs/ENVIRONMENT_SETUP.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/INCIDENT_RESPONSE.md
  docs/NEXT_PHASE_PLAN.md
  docs/PLAID_PRODUCTION_COMPLIANCE_PLAN.md
  docs/PLAID_PRODUCTION_SOLO_DEV_PLAN.md
  docs/PRIVACY.md
  docs/RENTAL_PROPERTY_EXIT_PLAN.md
  docs/REPORT_GENERATION_SUMMARY.md
  docs/ROADMAP.md
  docs/SECURITY.md
  docs/TODO.md
  docs/screenshots/loading-state-after-wait.png
  docs/screenshots/loading-state.png
  hooks/use-toast.ts
  temp-db-check.ts
Due: unittests, e2e, Components, Hooks

feat: add advanced financial analysis and reporting features
  components/AdvancedReports.tsx
  components/BudgetVsActualAnalysis.tsx
  components/CategoryManagement.tsx
  components/FinancialInsights.tsx
  components/ui/progress.tsx
  package-lock.json
  package.json
  src/services/db.ts
  src/types/index.ts
  src/utils/budgetAnalysis.ts
Due: unittests, e2e, Services, Components, Utilities

feat: add budget alerts system with notifications and settings
  components/BudgetAlerts.tsx
  components/EnhancedDashboard.tsx
  components/SettingsPage.tsx
  src/services/budgetAlertService.ts
Due: unittests, e2e, Services, Components

test: add comprehensive E2E tests for new features
  e2e/category-management.spec.ts
  e2e/enhanced-features.spec.ts
Due: none

feat: complete integration of enhanced dashboard and settings
  app/page.tsx
  app/settings/page.tsx
Due: e2e
