Repository Jameshuff91/budget-planner: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, e2e, Services, Components, Utilities, Hooks

feat: Implement comprehensive offline support with service worker and queue system
  NEXT_PHASE_PLAN.md
  ROADMAP.md
  app/layout.tsx
  components/OfflineIndicator.tsx
  next.config.mjs
  public/offline.html
  public/sw-custom.js
  public/sw.js
  public/swe-worker-5c72df51bb1f6ee0.js
  public/workbox-c18c662b.js
  public/workbox-f1770938.js
  src/context/DatabaseContext.tsx
  src/hooks/useOfflineStatus.ts
  src/utils/offline-queue.ts
Due: unittests, e2e, Components, Utilities, Hooks

fix: Fix all PDF Service test failures
  __tests__/BudgetAnalysis.test.tsx
  __tests__/PDFUpload.test.tsx
  __tests__/components/SpendingByCategory.test.tsx
  __tests__/components/SpendingTrend.test.tsx
  __tests__/services/reportService.test.ts
  playwright-report/index.html
  src/minimalSetupTests.ts
  src/services/pdfService.test.ts
  src/services/pdfService.ts
  vitest.config.ts
Due: unittests, Services

fix: Fix all failing tests and improve test infrastructure
  __tests__/TransactionGraph.test.tsx
  __tests__/context/DatabaseContext.basic.test.tsx
  __tests__/context/DatabaseContext.test.tsx
  __tests__/minimal-component.test.tsx
  __tests__/services/reportService.test.ts
  __tests__/utils/smartCategorization.test.ts
  src/utils/smartCategorization.ts
Due: unittests, Utilities

docs: Add environment setup guide for API keys and bank integration
  ENVIRONMENT_SETUP.md
Due: none

feat: Add data ingestion pipeline PRD and task planning
  .taskmaster/docs/prd.txt
Due: none

docs: Add comprehensive data ingestion pipeline summary
  DATA_INGESTION_PIPELINE_SUMMARY.md
  public/sw-custom.js
  src/hooks/useOfflineStatus.ts
  src/utils/offline-queue.ts
Due: unittests, Utilities, Hooks

fix: Fix React hooks violations and IndexedDB errors
  components/Dashboard.tsx
  components/SpendingByCategory.tsx
  src/context/DatabaseContext.tsx
  src/hooks/useOfflineStatus.ts
  src/services/scheduledSyncService.ts
  src/services/syncService.ts
  src/utils/offline-queue.ts
Due: unittests, e2e, Services, Components, Utilities, Hooks

fix: add display names to memoized components in SpendingByCategory
  components/SpendingByCategory.tsx
Due: unittests, e2e, Components

fix: remove hooks from React.memo component to resolve hooks violations
  components/SpendingByCategory.tsx
Due: unittests, e2e, Components

review: document React hooks violations and current fixes
  .windsurfrules
Due: none

fix: resolve React hooks violations and partial TypeScript errors
  app/api/plaid/webhook/route.ts
  components/ReportTemplates.tsx
  components/lazy/LazyChart.tsx
  public/sw-custom.js
Due: unittests, e2e, Components

fix: Initialize Plaid link token on component mount
  components/PlaidConnection.tsx
Due: unittests, e2e, Components

fix: Use server-side API for Plaid link token creation
  components/PlaidConnection.tsx
Due: unittests, e2e, Components

feat: add backend API for Plaid production compliance
  PLAID_PRODUCTION_COMPLIANCE_PLAN.md
  PLAID_PRODUCTION_SOLO_DEV_PLAN.md
  backend/.env.example
  backend/README.md
  backend/db/init.js
  backend/middleware/auth.js
  backend/package.json
  backend/routes/auth.js
  backend/routes/plaid.js
  backend/routes/transactions.js
  backend/server.js
  components/lazy/LazyChart.tsx
Due: unittests, e2e, Components

feat: complete backend security implementation for Plaid production
  DATA_RETENTION.md
  INCIDENT_RESPONSE.md
  PRIVACY.md
  SECURITY.md
  backend/.gitignore
  backend/__tests__/auth.test.js
  backend/__tests__/plaid.test.js
  backend/__tests__/security.test.js
  backend/generate-cert.sh
  backend/jest.config.js
  backend/package.json
  backend/server.js
  backend/tests/setup.js
  src/components/Auth.tsx
  src/components/PlaidLink.tsx
  src/context/AuthContext.tsx
  src/services/api.ts
  src/services/plaidService.ts
Due: unittests, Services

feat: integrate authentication UI into main app
  app/page.tsx
  app/providers.tsx
  components/PlaidConnection.tsx
Due: unittests, e2e, Components

fix: move auth components to correct directories
  components/Auth.tsx
  context/AuthContext.tsx
  services/api.ts
  src/components/PlaidLink.tsx
Due: unittests, e2e, Components

fix: move services and context to correct src directories
  src/context/AuthContext.tsx
  src/services/api.ts
Due: unittests, Services

fix: resolve backend npm install issues
  backend/package-lock.json
Due: none

fix: resolve Plaid link token creation errors
  backend/db/init.js
  backend/routes/plaid.js
Due: none

feat: upgrade LLM service to use latest OpenAI models and improve configuration
  .env.example
  components/SmartCategorizationSettings.tsx
  src/services/llmService.ts
  src/services/pdfService.ts
  src/utils/smartCategorization.ts
Due: unittests, e2e, Services, Components, Utilities

chore: update backend gitignore and clean up auth middleware
  backend/.gitignore
  backend/middleware/auth.js
Due: none

fix: Fix LLM service test mocks to use vi.fn() instead of jest.fn()
  __tests__/services/llmService.test.ts
Due: none

fix: resolve security test failures
  backend/__tests__/security.test.js
  backend/server.js
Due: none

fix: resolve all backend test failures
  backend/__tests__/auth.test.js
  backend/__tests__/plaid.test.js
  backend/routes/plaid.js
Due: none

fix: add missing UI components and improve test compatibility
  .windsurfrules
  backend/__tests__/plaid.test.js
  backend/server.js
  components/ui/checkbox.tsx
  components/ui/dropdown-menu.tsx
  database.sqlite
  database.sqlite-shm
  database.sqlite-wal
  package-lock.json
  package.json
Due: unittests, e2e, Components

feat: significant improvement in frontend test coverage
  __tests__/services/llmService.test.ts
  __tests__/utils/smartCategorization.test.ts
  components/__tests__/DateRangeSelector.test.tsx
  components/__tests__/IncomeExpensesForecast.test.tsx
  database.sqlite-shm
  database.sqlite-wal
  vitest.config.ts
Due: none

fix: resolve IncomeExpensesForecast import issues
  components/IncomeExpensesForecast.tsx
Due: unittests, e2e, Components

fix: resolve DateRangeSelector dropdown testing issues
  components/__tests__/DateRangeSelector.test.tsx
Due: none

fix: resolve CategoryTrendAnalysis component testing issues
  __tests__/components/CategoryTrendAnalysis.test.tsx
Due: none

fix: resolve majority of failing tests
  __tests__/components/CategoryTrendAnalysis.test.tsx
  __tests__/components/SpendingByCategory.test.tsx
  __tests__/integration/categorization-pipeline.test.ts
  __tests__/utils/smartCategorization.test.ts
  components/__tests__/IncomeExpensesForecast.test.tsx
Due: none

fix: improve test coverage to 99.5% success rate
  __tests__/components/CategoryTrendAnalysis.test.tsx
  components/__tests__/IncomeExpensesForecast.test.tsx
Due: none

feat: add delete functionality to individual transactions
  components/CategoryTrendAnalysis.tsx
  components/MonthSelector.tsx
  components/WebVitalsMonitor.tsx
  src/services/db.ts
  src/utils/chartOptimization.ts
Due: unittests, e2e, Services, Components, Utilities

Path conditions:
  unittests: any of: src/, components/, hooks/, but not: **/__tests__/**/*, **/__mocks__/**/*, **/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.js, **/*.config.ts, **/next.config.mjs, **/vitest.config.ts, **/playwright.config.ts, .next/**/*, out/**/*, coverage/**/*, playwright-report/**/*, docs/**/*, scripts/**/*, *.md, **/generated/**/*, public/sw.js, public/workbox-*.js
  e2e: any of: app/, components/, but not: **/__tests__/**/*, **/__mocks__/**/*, **/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.js, **/*.config.ts, **/next.config.mjs, **/vitest.config.ts, **/playwright.config.ts, .next/**/*, out/**/*, coverage/**/*, playwright-report/**/*, docs/**/*, scripts/**/*, *.md, **/generated/**/*, public/sw.js, public/workbox-*.js
  Services: any of: src/services/**, but not: **/__tests__/**/*, **/__mocks__/**/*, **/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.js, **/*.config.ts, **/next.config.mjs, **/vitest.config.ts, **/playwright.config.ts, .next/**/*, out/**/*, coverage/**/*, playwright-report/**/*, docs/**/*, scripts/**/*, *.md, **/generated/**/*, public/sw.js, public/workbox-*.js
  Components: any of: components/**, but not: **/__tests__/**/*, **/__mocks__/**/*, **/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.js, **/*.config.ts, **/next.config.mjs, **/vitest.config.ts, **/playwright.config.ts, .next/**/*, out/**/*, coverage/**/*, playwright-report/**/*, docs/**/*, scripts/**/*, *.md, **/generated/**/*, public/sw.js, public/workbox-*.js
  Utilities: any of: src/utils/**, but not: **/__tests__/**/*, **/__mocks__/**/*, **/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.js, **/*.config.ts, **/next.config.mjs, **/vitest.config.ts, **/playwright.config.ts, .next/**/*, out/**/*, coverage/**/*, playwright-report/**/*, docs/**/*, scripts/**/*, *.md, **/generated/**/*, public/sw.js, public/workbox-*.js
  Hooks: any of: hooks/**, src/hooks/**, but not: **/__tests__/**/*, **/__mocks__/**/*, **/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.config.js, **/*.config.ts, **/next.config.mjs, **/vitest.config.ts, **/playwright.config.ts, .next/**/*, out/**/*, coverage/**/*, playwright-report/**/*, docs/**/*, scripts/**/*, *.md, **/generated/**/*, public/sw.js, public/workbox-*.js
